* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(#968a8e, #3a242c);
    min-height: 100vh;
}


#navbar{    
    position: sticky;
    top: 0;
    z-index: 1000
    ;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;  
    background-color: #E4EBF1;
    color: #111;
    box-shadow: 0 8px 50px rgba(0, 0, 0, 1.5);
    border-radius: 14px;
    
}

.navibar a {
    text-decoration: none;
    color: inherit;  
    font-size: 24px;
    cursor: pointer;
    position: relative;
    transition: background-color 0.3s ease;
    border: none;
    background-color: none;
    border-radius: 10px;
    padding: 8px 14px;
}

.navibar a:hover{
    background-color: #0d0d0d;
    border: none;
    padding: 1px;   
    transition: background-color 0.3s ease;
    box-shadow: 0 8px 50px rgba(0, 0, 0, 5);
}

.navibar {
    display: flex;
    gap: 24px;
}

#navbar .navibar {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#introduction{

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

#profilecard{
    border-radius: 50px;
    border-width: 10px;
    padding: 15px;
    border-style: ridge;
}

div #introduction p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
}

#footer{ 
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 25px;
    font-weight: bold;  
    background-color: #3a5f4e;
    color: #EAE6E5;
    box-shadow: 0 8px 50px rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}