body {
  margin: 0;
  background: linear-gradient(
    135deg,
    #EAE6E5 0%,
    #EAE6E5 60%,
    #8FCB9B 100%
  );
  color: #12130F;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


#navbar{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 25px;
}

.navbar a {
    text-decoration: none;
    color: inherit;         
    font-weight: 500;
    cursor: pointer;
    position: relative;
    display: inline-block;
}

.navbar a:hover{
    color: #007bff;
}

.navbar {
    display: flex;
    gap: 24px;
}

#navbar .navbar {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
